<header id="main-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-lg-2 col-md-4 p-0 ">
                <div class="back">
                    <div class="inner">
                        <div class="inner-inner">
                            <div class="py-1">
                                <div class="text-center text-white mx-auto my-2">
                                    <img src="../assets/img/person1.svg" alt="image" width="78px" height="78px">
                                    <h1 class="text pt-1 mb-0">Mr. Jesse Pinkman</h1>
                                    <h1 class="text2 pb-1 mx-4 mb-0" style="opacity:0.5;">UX/UI Designer, Creative
                                        Director
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-lg-10 col-md-8 p-0">
                <nav class="navbar navbar-expand-sm hover">
                    <h1 class="txt ml-4 text-white mb-0">Lonavla</h1>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarcollapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarcollapse">
                        <ul class="navbar-nav ml-auto">
                            <li
                                class="nav-item border border-left-0 border-top-0 border-bottom-0 border-dark ml-md-2 px-1">
                                <div class="text-md-center text-sm-left mt-2 mx-3">
                                    <img src="../assets/img/Forma 1.svg" alt="image" width="22px" height="22px"
                                        class="d-none d-md-block mx-auto">
                                    <a href="#home" class="nav-link text4">Alerts</a>
                                </div>
                            </li>
                            <li
                                class="nav-item border border-right-0 border-top-0 border-bottom-0 border-dark px-1 mr-md-2">
                                <div class="text-md-center text-sm-left mt-2 mx-3">
                                    <img src="../assets/img/Forma 2.svg" alt="image" width="22px" height="22px"
                                        class="d-none d-md-block mx-auto">
                                    <a href="#home" class="nav-link text4">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <hr class="m-0 bg-dark">
                <div class="d-flex align-items-center hover py-3">
                    <div class="px-3">
                        <h1 class="txt1 ml-4 text-white mb-0">Dashboard</h1>
                    </div>
                    <div class="px-2 ml-auto">
                        <div class="text-white px-3">
                            <small class="text3">Data from 26/11/2013 to 12/12/2014</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="navigation-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-2 p-0 back">
                <div>
                    <div class="py-2 hover">
                        <div class="d-flex flex-row mt-1 ml-2">
                            <div class="p-2 ml-3 align-self-start">
                                <img src="../assets/img/dash.svg" alt="image" width="29px" height="29px">
                            </div>
                            <div class="p-2 align-self-end">
                                <p class="px-3 text1 mb-1">Dashboard</p>
                            </div>
                        </div>
                    </div>
                    <div class="py-2 hover">
                        <div class="d-flex flex-row mt-1 ml-2">
                            <div class="p-2 ml-3 align-self-start">
                                <img src="../assets/img/prog.svg" alt="image" width="29px" height="29px">
                            </div>
                            <div class="p-2 align-self-end">
                                <p class="px-3 text1 mb-1">Progress</p>
                            </div>
                        </div>
                    </div>
                    <div class="py-2 hover">
                        <div class="d-flex flex-row mt-1 ml-2">
                            <div class="p-2 ml-3 align-self-start">
                                <img src="../assets/img/hisstat.svg" alt="image" width="29px" height="29px">
                            </div>
                            <div class="p-2 align-self-end">
                                <p class="px-3 text1 mb-1">History Status</p>
                            </div>
                        </div>
                    </div>
                    <div class="py-2 hover">
                        <div class="d-flex flex-row mt-1 ml-2">
                            <div class="p-2 ml-3 align-self-start">
                                <img src="../assets/img/dist.svg" alt="image" width="29px" height="29px">
                            </div>
                            <div class="p-2 align-self-end">
                                <p class="px-3 text1 mb-1">Distribution</p>
                            </div>
                        </div>
                    </div>
                    <div class="py-2 hover">
                        <div class="d-flex flex-row mt-1 ml-2">
                            <div class="p-2 ml-3 align-self-start">
                                <img src="../assets/img/lock.svg" alt="image" width="29px" height="29px">
                            </div>
                            <div class="p-2 align-self-end">
                                <p class="px-3 text1 mb-1">Security</p>
                            </div>
                        </div>
                    </div>
                    <div class="py-2 hover">
                        <div class="d-flex flex-row mt-1 ml-2">
                            <div class="p-2 ml-3 align-self-start">
                                <img src="../assets/img/gear.svg" alt="image" width="29px" height="29px">
                            </div>
                            <div class="p-2 align-self-end">
                                <p class="px-3 text1 mb-1">Setting</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-10 p-0">
                <div class="container p-0">
                    <div class="row my-4">
                        <div class="col-lg-8 col-md-6 px-lg-4">
                            <div class="row">
                                <div class="col-lg-5 px-md-2">
                                    <div class="my-3">
                                        <div class="bglayer mx-2">
                                            <div class="px-2 ">
                                                <p class="text3 pt-3">Dolor Amet</p>
                                                <hr class="m-0 bg-white">
                                                <div class="p-3">
                                                    <div class="progress" data-percentage="80">
                                                        <span class="progress-left">
                                                            <span class="progress-bar"></span>
                                                        </span>
                                                        <span class="progress-right">
                                                            <span class="progress-bar"></span>
                                                        </span>
                                                        <div class="progress-value text-center">
                                                            <div class="text-white">80</div>
                                                        </div>
                                                    </div>
                                                    <div class="text-center mt-2" style="opacity:0.5;">
                                                        <h1 class="text5">Lorem Ipsum</h1>
                                                        <h1 class="text5 mt-4 mx-2">Lorem ipsum dolor sit amet,
                                                            consectetuer
                                                            adipiscing elit, sed diam nonummy.</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 px-md-2">
                                    <div class="my-3">
                                        <div class="bglayer mx-2">
                                            <div class="px-2 ">
                                                <p class="text3 pt-3">Dolor Amet</p>
                                                <hr class="m-0 bg-white">
                                                <div class="p-3 mt-3">
                                                    <div class="margin">
                                                        <canvas id="myChart1" #myCanvas1></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-7 px-md-2">
                                    <div class="my-3">
                                        <div class="bglayer mx-2">
                                            <div class="px-2 ">
                                                <p class="text3 pt-3">Dolor Amet</p>
                                                <hr class="m-0 bg-white">
                                                <div class="p-3">
                                                    <div class="margin">
                                                        <canvas id="myChart" #myCanvas2></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 px-md-2">
                                    <div class="my-3">
                                        <div class="bglayer mx-2">
                                            <div class="px-2 " id="circle2">
                                                <p class="text3 pt-3">Dolor Amet</p>
                                                <hr class="m-0 bg-white">
                                                <div class="p-3">
                                                    <div class="progress" data-percentage="50">
                                                        <span class="progress-left">
                                                            <span class="progress-bar"></span>
                                                        </span>
                                                        <span class="progress-right">
                                                            <span class="progress-bar"></span>
                                                        </span>
                                                        <div class="progress-value text-center">
                                                            <div class="text-white">50</div>
                                                        </div>
                                                    </div>
                                                    <div class="text-center mt-2" style="opacity:0.5;">
                                                        <h1 class="text5 mt-1">Lorem Ipsum</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 px-lg-4">
                            <div class="my-3">
                                <div class="bglayer4 mx-2">
                                    <div class="px-2 ">
                                        <p class="text2 pt-3">Lorem Ipsum Dolor</p>
                                        <hr class="m-0 bg-dark">
                                    </div>
                                    <div class="px-2 my-2">
                                        <div class="d-flex flex-row">
                                            <div class=" align-self-center">
                                                <img src="../assets/img/person2.svg" alt="image" width="44px"
                                                    height="44px">
                                            </div>
                                            <div class="p-3 align-self-center">
                                                <p class="text3 mb-0">Walter White</p>
                                                <p class="text4 mb-0">Lorem ipsum dolor amet sit de jenero</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="m-0 bg-dark">
                                    <div class="px-2 my-2">
                                        <div class="d-flex flex-row">
                                            <div class="align-self-center">
                                                <img src="../assets/img/person3.svg" alt="image" width="44px"
                                                    height="44px">
                                            </div>
                                            <div class="p-3 align-self-center">
                                                <p class="text3 mb-0">Anna Gun</p>
                                                <p class="text4 mb-0">Lorem ipsum dolor amet sit de jenero</p>
                                            </div>
                                        </div>

                                    </div>
                                    <hr class="m-0 bg-dark">
                                    <div class="px-2 my-2">
                                        <div class="d-flex flex-row">
                                            <div class="align-self-center">
                                                <img src="../assets/img/person4.svg" alt="image" width="44px"
                                                    height="44px">
                                            </div>
                                            <div class="p-3 align-self-center">
                                                <p class="text3 mb-0">Bonny Benitt</p>
                                                <p class="text4 mb-0">Lorem ipsum dolor amet sit de jenero</p>
                                            </div>
                                        </div>

                                    </div>
                                    <hr class="m-0 bg-dark">
                                    <div class="px-2 my-2">
                                        <div class="d-flex flex-row">
                                            <div class="align-self-center">
                                                <img src="../assets/img/person5.svg" alt="image" width="44px"
                                                    height="44px">
                                            </div>
                                            <div class="p-3 align-self-center">
                                                <p class="text3 mb-0">The Clause</p>
                                                <p class="text4 mb-0">Lorem ipsum dolor amet sit de jenero</p>
                                            </div>
                                        </div>

                                    </div>
                                    <hr class="m-0 bg-dark">
                                    <div class="px-2 my-2">
                                        <div class="d-flex flex-row">
                                            <div class="align-self-center">
                                                <img src="../assets/img/person2.svg" alt="image" width="44px"
                                                    height="44px">
                                            </div>
                                            <div class="p-3 align-self-center">
                                                <p class="text3 mb-0">Walter White</p>
                                                <p class="text4 mb-0">Lorem ipsum dolor amet sit de jenero</p>
                                            </div>
                                        </div>

                                    </div>
                                    <hr class="m-0 bg-dark">
                                    <div class="px-2 my-2">
                                        <div class="d-flex flex-row">
                                            <div class="align-self-center">
                                                <img src="../assets/img/person5.svg" alt="image" width="44px"
                                                    height="44px">
                                            </div>
                                            <div class="p-3 align-self-center">
                                                <p class="text3 mb-0">Anna Gun</p>
                                                <p class="text4 mb-0">Lorem ipsum dolor amet sit de jenero</p>
                                            </div>
                                        </div>

                                    </div>
                                    <hr class="m-0 bg-dark">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>