/* You can add global styles to this file, and also import other style files */
body{
    background: url('../src/assets/img/BG.svg') no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
}